body {
    background-color: gray;
}

/* h1 font family and text color*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* h3 font family and text color*/
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* divs font family and text color*/
div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

/*three sections each section is 200px wide, container to accomodate three sections
namely size, one each topping section for vegetables and meats*/
#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

/*Pizza size selection section*/
.left {
    width: 200px;
    height: 200px;
    float: left;
}

/*Vegetables selection section*/
.center {
    width: 200px;
    height: 200px;
    float: left;
}

/*Meats selection section*/
.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px
}